name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: mdbook
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: Install mdbook-dtmo
      run: |
        scripts/crate.sh --repo badboy/mdbook-dtmo --to ~/.cargo/bin
        mdbook-dtmo --version

    - name: Build book
      run: |
        mdbook-dtmo build .

  get-changed-md-files:
    name: get-changed-md-files
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main
      with:
        fetch-depth: 2

    - name: Get changed files
      id: changed-files
      uses: tj-actions/changed-files@v26.1
      with:
        files: |
          README.md
          src/**/*.md

    outputs:
      changed_files: ${{ steps.changed-files.outputs.all_changed_files }}

  spell-check:
    needs: get-changed-md-files
    name: spell-check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: Spell check
      run: |
        npm install
        scripts/spell_check.sh ${{ needs.get-changed-md-files.outputs.changed_files }}

  link-check:
    needs: get-changed-md-files
    name: link-check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: Link check
      run: |
        npm install
        scripts/link_check.sh ${{ needs.get-changed-md-files.outputs.changed_files }}

  prettier-check:
    needs: get-changed-md-files
    name: prettier-check
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@main

    - name: Prettier check
      run: |
        npm install
        scripts/prettier_check.sh ${{ needs.get-changed-md-files.outputs.changed_files }}
